:root {
    font-family: 'Quattrocento Sans', sans-serif;
    --primary-color: #d4f4cd;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

main {
    width: 100%;
}

.form-container {
    background-color: #f3f3f3;
    max-width: 700px;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    height: max-content;
}


.form-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.icons {
    padding: 0.7rem;
}

#submit-btn {
    font-family: inherit;
    background: transparent;
    border: 2px solid darkgray;
    border-radius: 1.7em;
    color: black;
    font-size: 1.7rem;
    height: 37px;
    padding: 0;
    text-align: center;
    width: 37px;
    cursor: pointer;
}

.submit-btn-container {
    display: flex;
    align-items: center;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    width: 80%
}

.list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px 10px;
    margin: 0.6rem;
    font-size: 1.3rem;
}